services:
  mailpit:
    image: axllent/mailpit
    restart: unless-stopped
    volumes:
      - ./.mailpit:/data
    ports:
      - 8031:8025
      - 1031:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
  db:
    image: postgres
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always
    ports:
      - 6380:6379
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
